@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
html {
  font-size: 16px;
}
body {
  font-family: "Sora", sans-serif;
}

.purple-button {
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1),
    inset 4px 4px 4px rgba(255, 255, 255, 0.1);
}

.folder-background {
  background: linear-gradient(
      188.08deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 93.79%
    ),
    #060714;
  border-radius: 0px 20px 20px 20px;
}

.background {
  background-position: 50% -4%;
}

.midBoxBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.midBoxBackground img {
  object-fit: cover;
  flex-shrink: 0;
  width: 100%;
  height: 100%;

}